USE [master]
GO
/****** Object:  Database [M_A_DB]    Script Date: 9/19/2026 7:22:45 PM ******/
CREATE DATABASE [M_A_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'M_A_DB', FILENAME = N'D:\Code\Rohab_new\Rohab\bin\Debug\Data\M_A_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'M_A_DB_log', FILENAME = N'D:\Code\Rohab_new\Rohab\bin\Debug\Data\M_A_DB_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [M_A_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [M_A_DB]
GO
/****** Object:  Table [dbo].[acc]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc](
	[user_code] [nvarchar](2) NOT NULL,
	[pass] [nvarchar](8) NULL,
	[fname] [nvarchar](20) NULL,
	[lname] [nvarchar](30) NULL,
	[tel] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[semat] [nvarchar](50) NULL,
 CONSTRAINT [PK_acc] PRIMARY KEY CLUSTERED 
(
	[user_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[amoozeshgah]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amoozeshgah](
	[name] [nvarchar](30) NOT NULL,
	[tel] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[photo] [image] NULL,
 CONSTRAINT [PK_amoozeshgah] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classes]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classes](
	[classno] [bigint] NOT NULL,
	[artcourse] [nvarchar](30) NOT NULL,
	[teacher] [nvarchar](50) NOT NULL,
	[stdno] [nchar](5) NULL,
	[stdname] [nvarchar](50) NOT NULL,
	[clday] [nvarchar](10) NOT NULL,
	[clFromTime] [nchar](5) NOT NULL,
	[clToTime] [nchar](5) NOT NULL,
	[method] [nvarchar](max) NULL,
	[open_date] [nchar](10) NOT NULL,
	[payan_date] [nchar](10) NULL,
 CONSTRAINT [PK_classes] PRIMARY KEY CLUSTERED 
(
	[classno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id] [bigint] NOT NULL,
	[coursename] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ghabz]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ghabz](
	[id] [nchar](5) NOT NULL,
	[stdno] [nchar](5) NULL,
	[name] [nvarchar](50) NOT NULL,
	[artcourse] [nvarchar](30) NOT NULL,
	[date] [nchar](10) NOT NULL,
	[lastdate] [nchar](10) NOT NULL,
	[lastcheck] [nvarchar](8) NULL,
	[mablagh] [bigint] NOT NULL,
	[paid] [bigint] NOT NULL,
	[sharh] [nvarchar](100) NULL,
 CONSTRAINT [PK_mali] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hazineh]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hazineh](
	[radif] [bigint] NOT NULL,
	[type] [nvarchar](250) NULL,
	[date] [nchar](10) NULL,
	[mablagh] [bigint] NULL,
	[comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_hazineh] PRIMARY KEY CLUSTERED 
(
	[radif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hazineh_types]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hazineh_types](
	[id] [bigint] NOT NULL,
	[htype] [nvarchar](250) NULL,
 CONSTRAINT [PK_hazineh_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hozoor]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hozoor](
	[stdno] [nchar](5) NOT NULL,
	[stdname] [nvarchar](50) NULL,
	[classno] [bigint] NOT NULL,
	[artcourse] [nvarchar](30) NULL,
	[date] [nchar](10) NOT NULL,
	[day] [nvarchar](10) NULL,
	[status] [nchar](4) NULL,
 CONSTRAINT [PK_hozoor_1] PRIMARY KEY CLUSTERED 
(
	[stdno] ASC,
	[classno] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [nchar](5) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[date] [nchar](10) NULL,
	[paidformonth] [nvarchar](10) NULL,
	[mablagh] [bigint] NOT NULL,
	[sharh] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[std]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[std](
	[stdno] [nchar](5) NOT NULL,
	[reg_date] [nchar](10) NULL,
	[name] [nvarchar](50) NOT NULL,
	[father] [nvarchar](50) NULL,
	[idno] [nvarchar](11) NULL,
	[job] [nvarchar](30) NULL,
	[degree] [nvarchar](50) NULL,
	[course] [nvarchar](50) NULL,
	[tel] [nvarchar](35) NULL,
	[mob] [nvarchar](35) NULL,
	[address] [nvarchar](250) NULL,
	[resume] [nvarchar](100) NULL,
	[birthdate] [nvarchar](50) NULL,
	[hesab] [bigint] NOT NULL,
	[status] [nvarchar](8) NOT NULL,
	[std_img] [image] NULL,
 CONSTRAINT [PK_std] PRIMARY KEY CLUSTERED 
(
	[stdno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[std_history]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[std_history](
	[radif] [bigint] NOT NULL,
	[ghabz_id] [nchar](6) NULL,
	[stdno] [nchar](5) NOT NULL,
	[sharh] [nvarchar](200) NULL,
	[date] [nchar](10) NULL,
	[bedehkari] [bigint] NULL,
	[bestankari] [bigint] NULL,
	[tashkhis] [nvarchar](8) NULL,
	[mandeh] [bigint] NULL,
 CONSTRAINT [PK_std_history] PRIMARY KEY CLUSTERED 
(
	[radif] ASC,
	[stdno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teachers]    Script Date: 9/19/2026 7:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teachers](
	[teacherno] [smallint] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[artcourse] [nvarchar](30) NOT NULL,
	[tel] [nvarchar](35) NULL,
	[resume] [nvarchar](max) NULL,
	[prof_img] [image] NULL,
 CONSTRAINT [PK_teachers] PRIMARY KEY CLUSTERED 
(
	[teacherno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ghabz] ADD  CONSTRAINT [DF_ghabz_paid_1]  DEFAULT ((0)) FOR [paid]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_mablagh]  DEFAULT ((0)) FOR [mablagh]
GO
ALTER TABLE [dbo].[std] ADD  CONSTRAINT [DF_std_hesab]  DEFAULT ((0)) FOR [hesab]
GO
ALTER TABLE [dbo].[std] ADD  CONSTRAINT [DF_std_status]  DEFAULT (N'بدهکار') FOR [status]
GO
ALTER TABLE [dbo].[std_history] ADD  CONSTRAINT [DF_std_history_radif]  DEFAULT ((0)) FOR [radif]
GO
ALTER TABLE [dbo].[std_history] ADD  CONSTRAINT [DF_std_history_bedehkari]  DEFAULT ((0)) FOR [bedehkari]
GO
ALTER TABLE [dbo].[std_history] ADD  CONSTRAINT [DF_std_history_bestankari]  DEFAULT ((0)) FOR [bestankari]
GO
ALTER TABLE [dbo].[std_history] ADD  CONSTRAINT [DF_std_history_mandeh]  DEFAULT ((0)) FOR [mandeh]
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD  CONSTRAINT [FK_classes_std] FOREIGN KEY([stdno])
REFERENCES [dbo].[std] ([stdno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[classes] CHECK CONSTRAINT [FK_classes_std]
GO
ALTER TABLE [dbo].[ghabz]  WITH NOCHECK ADD  CONSTRAINT [FK_ghabz_std] FOREIGN KEY([stdno])
REFERENCES [dbo].[std] ([stdno])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[ghabz] NOCHECK CONSTRAINT [FK_ghabz_std]
GO
ALTER TABLE [dbo].[hozoor]  WITH CHECK ADD  CONSTRAINT [FK_hozoor_classes] FOREIGN KEY([classno])
REFERENCES [dbo].[classes] ([classno])
GO
ALTER TABLE [dbo].[hozoor] CHECK CONSTRAINT [FK_hozoor_classes]
GO
ALTER TABLE [dbo].[hozoor]  WITH CHECK ADD  CONSTRAINT [FK_hozoor_hozoor] FOREIGN KEY([stdno])
REFERENCES [dbo].[std] ([stdno])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hozoor] CHECK CONSTRAINT [FK_hozoor_hozoor]
GO
ALTER TABLE [dbo].[std_history]  WITH CHECK ADD  CONSTRAINT [FK_std_history_std] FOREIGN KEY([stdno])
REFERENCES [dbo].[std] ([stdno])
GO
ALTER TABLE [dbo].[std_history] CHECK CONSTRAINT [FK_std_history_std]
GO
USE [master]
GO
